<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>({{format_url content}})</span>
  </div>
  <div class="meta">
     by {{user.username}} on {{format_date created_at}}
    |
    {{comments.length}} {{format_plural "comment" comments.length}}
  </div>
</article>